---
layout: splash
title: Home
permalink: "/"
img-path: "/assets/img/1-home/"
header:
  banner:
    id: home
    time: 20000
    images:
    - url: "/uploads/2018/12/03/banner-1.jpg"
      caption: “L'esprit d'improvisation est un défi au sens créateur.”
    - url: "/uploads/2018/12/03/banner-2.jpg"
      caption: Une voix, un sourire, un regard
    - url: "/uploads/2018/12/03/banner-3.jpg"
      caption: C'est la victoire de la joie
    - url: "/uploads/2018/12/03/banner-4.jpg"
      caption: C'est la victoire de la joie
words:
  banner:
    id: words
    time: 20000
    images:
    - url: "/assets/img/words/2018/word-0.jpg"
      caption: " "
    - url: "/assets/img/words/2018/word-1.jpg"
      caption: " "
    - url: "/assets/img/words/2018/word-2.jpg"
      caption: " "
    - url: "/assets/img/words/2018/word-3.jpg"
      caption: " "

---
<h1>Actualités de la troupe</h1>


<div class="" style="width: 90%; margin: 2em auto;">
<video width="90%" height="auto" controls autoplay>
  <source src="{{ site.baseurl | append: '/assets/video/tntb.mp4' }}" type="video/mp4">
  <source src="{{ site.baseurl | append: '/assets/video/tntb.ogg' }}" type="video/ogg">
Your browser does not support the video tag.
</video>
</div>


<h1>TOUT BEAUX TOUT NOUVEAUX</h1>

<figure style="width: 25%" class="align-right">
  <img src="{{ site.baseurl | append: page.img-path | append: 'intro.jpg' }}" 
    alt="this is a placeholder image">
  <figcaption>This is a figure caption.</figcaption>
</figure>

<p>Oh que vous nous avez manqué! Alors tant qu'à reprendre pour cette nouvelle année avec vous, autant que ce soit en bonne santé et dans la bonne humeur.</p>

<p>Oh que vous nous avez manqué! Alors tant qu'à reprendre pour cette nouvelle année avec vous, autant que ce soit en bonne santé et dans la bonne humeur.</p>



<figure style="width: 25%" class="align-left">
  <img src="{{ site.baseurl | append: page.img-path | append: 'intro-2.jpg' }}" 
    alt="this is a placeholder image">
  <figcaption>This is a figure caption.</figcaption>
</figure>

<p>Oh que vous nous avez manqué! Alors tant qu'à reprendre pour cette nouvelle année avec vous, autant que ce soit en bonne santé et dans la bonne humeur.</p>

<p>Oh que vous nous avez manqué! Alors tant qu'à reprendre pour cette nouvelle année avec vous, autant que ce soit en bonne santé et dans la bonne humeur.</p>



<h1>Some Words from lovely people</h1>

<div class="words">
  
  {% assign banner = page.words.banner %}
  {% include carousel  %}

</div>



<h1>NOS SPECTACLES</h1>

{% include spectacles.html  %}


<h1>Un mot, une idée, un concept... Proposez-nous</h1>


{% include contact-tntb.html  %}
