---
layout: default
header_class: alt

banner:
- image: /assets/images/banner/banner-1.jpeg
  title: Unis par la passion de l'Impro
  url: "#"
- image: /assets/images/banner/banner-2.jpeg
  title: une voix, un sourire, un regard
  url: "#"
- image:  /assets/images/banner/banner-3.jpeg
  title: c'est la victoire de la joie
  url: "#"

features:
- icon: fa-pencil
  title: Impro
  excerpt: "Tout ce qui a commencé doit finir. L'agent Smith Waooou et quelle année!! Après des mois riches en émotions, nous voulions partager un peu de tout ça avec vous."
- icon: fa-cloud
  title: Partage
  excerpt: "hola"
- icon: fa-paper-plane
  title: Convivial
  excerpt: "Vivement les vacances!"

---

{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Site home page.

{% endcomment %}



{% include layout/banner.html slides=page.banner %}

<!-- One -->
	<section id="one" class="wrapper major-pad">
		<div class="inner">
			<section class="spotlight">
				<div class="content">
					<h2>Tout Beaux Tout Nouveaux</h2>
					<p>Oh que vous nous avez manqué! Alors tant qu'à reprendre pour cette nouvelle année avec vous, autant que ce soit en bonne santé et dans la bonne humeur.</p>
				</div>
				<span class="image"><img src="{{ site.baseurl }}/assets/images/TNTB-Intro.jpeg" alt="" /></span>
			</section>
		</div>
	</section>

<section id="one" class="wrapper major-pad">
		<div class="inner">
			<section class="spotlight">
				<span class="image"><img src="{{ site.baseurl }}/assets/images/TNTB-Presentation-2.jpeg" alt="" /></span>

				<div class="content">
					<h2>Tout Beaux Tout Nouveaux</h2>
					<p>On va inventer un nouveau, allez viens... on est bien bien bien  ....</p>
				</div>				
			</section>
		</div>
	</section>

<!-- Two -->
	<section id="two" class="wrapper content-pad">
		<div class="inner">
			{% include components/features.html features=page.features %}
		</div>
	</section>

<!-- Three -->
	<section id="three" class="wrapper style2">
		<div class="inner">
			<h2>Actualités</h2>
			{% include components/posts.html posts=site.posts %}
		</div>
	</section>