---
layout: splash
title: Home
permalink: "/"

img-path: "/assets/img/1-home/"

header: 
  banner: 
    id: home
    time: 20000
    images:
      - url: /TNTB/uploads/2018/12/03/banner-1.jpg
        caption: "Unis par la passion de l'Impro"
      - url: /TNTB/uploads/2018/12/03/banner-2.jpg
        caption: "Une voix, un sourire, un regard"
      - url: /TNTB/uploads/2018/12/03/banner-3.jpg    
        caption: "C'est la victoire de la joie"
      - url: /TNTB/uploads/2018/12/03/banner-4.jpg    
        caption: "C'est la victoire de la joie"
words:  
  banner: 
    id: words
    time: 20000
    images:
      - url: /TNTB/assets/img/words/2018/word-0.jpg
        caption: " "
      - url: /TNTB/assets/img/words/2018/word-1.jpg
        caption: " "
      - url: /TNTB/assets/img/words/2018/word-2.jpg    
        caption: " "
      - url: /TNTB/assets/img/words/2018/word-3.jpg    
        caption: " "
---



<h2>Actualités</h2>
 
<div class="" style="width: 90%; margin: 2em auto;">
<video width="90%" height="auto" controls autoplay>
  <source src="{{ site.baseurl | append: '/assets/video/tntb.mp4' }}" type="video/mp4">
  <source src="{{ site.baseurl | append: '/assets/video/tntb.ogg' }}" type="video/ogg">
Your browser does not support the video tag.
</video>
</div>


<h2>TOUT BEAUX TOUT NOUVEAUX</h2>

<figure style="width: 25%" class="align-right">
  <img src="{{ site.baseurl | append: page.img-path | append: 'intro.jpg' }}" 
    alt="this is a placeholder image">
  <figcaption>This is a figure caption.</figcaption>
</figure>

<p>Oh que vous nous avez manqué! Alors tant qu'à reprendre pour cette nouvelle année avec vous, autant que ce soit en bonne santé et dans la bonne humeur.</p>

<p>Oh que vous nous avez manqué! Alors tant qu'à reprendre pour cette nouvelle année avec vous, autant que ce soit en bonne santé et dans la bonne humeur.</p>





<h2>TOUT BEAUX TOUT NOUVEAUX</h2>

<figure style="width: 25%" class="align-left">
  <img src="{{ site.baseurl | append: page.img-path | append: 'intro-2.jpg' }}" 
    alt="this is a placeholder image">
  <figcaption>This is a figure caption.</figcaption>
</figure>

<p>Oh que vous nous avez manqué! Alors tant qu'à reprendre pour cette nouvelle année avec vous, autant que ce soit en bonne santé et dans la bonne humeur.</p>

<p>Oh que vous nous avez manqué! Alors tant qu'à reprendre pour cette nouvelle année avec vous, autant que ce soit en bonne santé et dans la bonne humeur.</p>



<h2>Some Words from lovely people</h2>

<div class="words">
  
  {% assign banner = page.words.banner %}
  {% include carousel  %}

</div>



<h2>NOS SPECTACLES</h2>

{% include spectacles.html  %}


<h2>Un mot, une idée, un concept... Proposez-nous</h2>


{% include contact-tntb.html  %}







