

<div class="flex">
  <div class="formulario">

  <form action="https://formspree.io/your@email.com" method="POST">
    <fieldset>
    Name: <input type="text" name="name">
    
    Email: <input type="email" name="_replyto">

    Message: <textarea name="message" placeholder="Test Message"></textarea>

    <input type="submit" value="Send">

    </fieldset>
  </form>


  </div>

  <div class="facebook">
    
    <div class="fb-page" data-href="https://www.facebook.com/tntbimpro/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/tntbimpro/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/tntbimpro/">TNTB</a></blockquote></div>

  </div>

</div>