---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


// Fonts
@import "fonts"; // Fonts for LF2L


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "elements-bootstrap"; 






// COLORS


$Yellow-TNTB: #F0B480;

.masthead {

	border-bottom: none; 

  &__inner-wrap {

		font-family: $main-menu;
	}
}




.greedy-nav{
	background: rgba(255, 255, 255, 0);
	a{
		color: $Yellow-TNTB; 
	}
	}

#home{
	margin-top: -7em;	
}


.page__content {
  
  h1{
  	text-align: center;
    margin: 4em 2em 1em 2em;
  
    padding-top: 1.5em;
	border-top: 2px solid $border-color; 

	padding-bottom: 0.5em;
    border-bottom: 5px solid $border-color;
    
 
  }

 //  h2 {
    
 //    text-align: center;
 //    margin: 4em 2em 1em 2em;

 //    padding-top: 1.5em;
	// border-top: 2px solid $border-color; 
    
 //    padding-bottom: 0.5em;
 //    border-bottom: 5px solid $border-color;
     
    
 //    }
} 

.carousel-caption{
	bottom: 40%;
	font-size:1.5em;
	color: darken($Yellow-TNTB, 10%);  
}


.words{
	width: 45%;
	margin: 2em auto;
	
	img {
    border-radius: 20px;
	}
}



.flex{
	display: flex;
	justify-content: space-between;

}

.formulario{
	width: 50%;
	float: left;

	textarea {
	  height: 250px;
	}
}

.facebook{
	width: 45%;
}

.grid__item{
	.archive__item-teaser {
	    @include breakpoint($small) {
	      max-height: 200px;
	    }

	    @include breakpoint($medium) {
	      max-height: 500px;
	    }
	  }
 } 


.flex-footer{

	display: flex;
	justify-content: center;
	
	.item-footer{
	width: 25%;
	}	
}







